{% extends "base.html" %}

{% block title %} Ride List Login{% endblock title %}

{% block content %}
  <form method="post">
    {% csrf_token %}
    <input type="text" placeholder="First Name" name="fname" >First Name: </input>
    <br>
    <input type="text" placeholder="Last Name" name="lname" >Last Name: </input>
    <br>
    <button type='submit'>Login</button>
  </form>
  {% if form.errors %}
    <div class="error-message">
      <p>User not authorized. Please try again.</p>
    </div>
  {% endif %}

{% endblock content %}